body{
	margin: 0;
	padding: 0;
	position: relative;
}

.proj{
	z-index: 2;
	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 50px;
	background-color: rgba(255,255,255,.5);
	border-radius: 100px;
}
.h0{
	font-size: 15px;
	font-weight: 200;
	text-align: center;
	font-family: 'Lobster', cursive;
	padding-top: 17px;
	color: white;
}

#mainImg{
	z-index: 1;
	//position: absolute;
	width: 100%;
	left: 0;
	min-width: 700px;
}

#box, .mainBox {
	width: 100%;
	position: relative;
}

.frame{
	z-index: 3;
	border-radius: 3px;
	position: relative;
	top: -100px;
	margin: 0 auto;
	width: 80%;
	min-width: 300px;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 9px;
	padding-bottom: 2px;

}

.frame img{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	display: inline-block;
	width: 20%;
	margin-top: -4px;
	padding: 5px;
	//float: left;
}


.h1{
	position: absolute;
	width: 100%;
	min-width: 300px;
	top: -90px;
	left: 0;
	color: white;
	font-size: 40px;
	font-weight: 200;
	text-align: center;
	font-family: 'Lobster', cursive;
}
.left, .right {
	z-index: 10;
	position: absolute;
	background-color: rgba(255,255,255,.5);
	width: 7%;
	min-width: 60px;
	height: 40px;
	font-family: 'Lobster', cursive;
	color: white;
	text-align: center;
	line-height: 40px;
}

.left {
	top: 150px;
	left: 0;
}
.right {
	top: 150px;
	right: 0;
}


