body{
	margin: 0;
	padding: 0;
	position: relative;
}

.proj{
	z-index: 2;
	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 50px;
}
.h0{
	font-size: 15px;
	font-weight: 200;
	text-align: center;
	font-family: 'Lobster', cursive;
	padding-top: 17px;
	color: white;
}

#mainImg{
	z-index: 1;
	//position: absolute;
	width: 100%;
	left: 0;
	min-width: 700px;
}

#box, .mainBox {
	width: 100%;
	position: relative;
}

.frame{
	z-index: 3;
	border-radius: 4.5px;
	position: relative;
	top: -150px;
	margin: 0 auto;
	width: 800px;
	background-color: white;
	padding: 2.5px;
	padding-top:5.5px;


}

.shadowLeft{
	position: absolute;
	top: -150px;
	left: 50%;
	margin-left: -390px;
	z-index: 2;
	width: 50px;
	height: 500px;

	border-radius: 3px;

	-webkit-transform: rotate(-2deg);
 		 -moz-transform: rotate(-2deg);
  				-o-transform: rotate(-2deg);

	-webkit-box-shadow: -20px 11px 10px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: -20px 11px 10px 0px rgba(0,0,0,0.8);
	box-shadow: -20px 11px 10px 0px rgba(0,0,0,0.8);
}

.shadowRight{
	position: absolute;
	top: -150px;
	left: 50%;
	margin-left: 340px;
	z-index: 2;
	width: 50px;
	height: 500px;

	border-radius: 3px;

	-webkit-transform: rotate(2deg);
 		 -moz-transform: rotate(2deg);
  				-o-transform: rotate(2deg);

	-webkit-box-shadow: 20px 11px 10px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 20px 11px 10px 0px rgba(0,0,0,0.8);
	box-shadow: 20px 11px 10px 0px rgba(0,0,0,0.8);
}

.frame img{
	width: 100%;

	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	display: inline-block;
	width: 155px;
	height: 88px;
	//background-color: red;
	margin: 2.5px;
	margin-top: -1.5px;
	//border: white solid 5px;
	
	position: relativ;

	cursor: pointer;
}

.frame div.cover {
	display: none;
	width: 100%;

	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	width: 155px;
	height: 88px;
	background-color: red;
	margin: 2.5px;
	margin-top: -1.5px;
	//border: white solid 5px;
	
	position: relativ;

	cursor: pointer;
}


.h1{
	position: absolute;
	width: 100%;
	min-width: 300px;
	top: -90px;
	left: 0;
	font-size: 40px;
	text-align: center;
	//letter-spacing: 5px;
	font-family: 'Lobster', cursive;

	//-webkit-text-stroke: 1px #222222;
   color: white;
   text-shadow:
       3px 3px 0 #222222,
     -1px -1px 0 #222222,  
      1px -1px 0 #222222,
      -1px 1px 0 #222222,
       1px 1px 0 #222222;
}

.left, .right {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	background-color: rgba(255,255,255,.8);
	width: 7%;
	min-width: 60px;
	height: 40px;
	font-family: 'Lobster', cursive;

	color: #222222;
	text-align: center;
	line-height: 40px;
}

.left {
	top: 300px;
	left: 0;
}
.right {
	top: 300px;
	right: 0;
}


